.header{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    padding: 8px;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px solid rgb(228, 228, 228);
    z-index: 100;
}

.left-section{
    display: flex;
    align-items: center;
    width: 170px;
    justify-content: space-around;
}

.hamburger-menu{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.youtube-logo{
    width: 94px;
    height: 94px;
    cursor: pointer;
}

.middle-section{
    display: flex;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    align-items: center;
}

.search-bar{
    flex: 1;
    height: 38px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
}

.search-bar::placeholder{
    font-size: 16px;
}

.search-button{
    width: 66px;
    height: 40px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
    cursor: pointer;
}

.search-button,
.voice-search,
.tooltip-div,
.notifications{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-button:hover .tooltip,
.voice-search:hover .tooltip,
.tooltip-div:hover .tooltip,
.notifications:hover .tooltip{
    opacity: 1;
    transition: opacity 0.15s;
}

.search-icon{
    height: 25px;
    margin-top: 4px;
}

.tooltip{
    background-color: rgba(87, 86, 86, 0.8);
    color: white;
    padding: 10px;
    position: absolute;
    font-size: 11px;
    border-radius: 2px;
    top: 40px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
}

.voice-search{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: rgb(245,245, 245);
    cursor: pointer;
}

.voice-search-icon{
    height: 24px;
    margin-top: 4px;
}

.tooltip-div{
    cursor: pointer;
}

.right-section{
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    flex-shrink: 0;
}

.photo-icon{
    width: 25px;
    height: 25px;
}

.notifications{
    cursor: pointer;
}

.notife-number{
    background-color: red;
    color: white;
    border-radius: 10px;
    position: absolute;
    top: -2px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    padding: 2px 5px;
}

.photo-my-channel{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}